:root{
  --text-color:black;
  --background-color:#f7fafc;
  --div-background-color:#ffffff;
}
html{
   scroll-behavior: smooth;
}
body{
    font-family:'opensans-regular', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    
}
header {
    position: relative;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    background: #161415 url("../images/him.jpg") no-repeat top center;
    background-size: cover;
     -webkit-background-size: cover;
    text-align: center;
    overflow: hidden;
 }




.profile{
   
      height: 12rem;
      width: 12rem;
      border: 1px solid #F06000;
      border-radius: 50%;
      margin: 0.9rem 1rem 0 2rem;
      float: left;
  
}

ul#nav {
    min-height: 48px;
    width: auto;
 
    /* center align the menu */
    text-align: center;
 }
 ul#nav li{
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
    transition: all 1s ease;
 }

 ul#nav li a:hover{
  color:#223351;
 }
 
 /* Links */
 ul#nav li a {
 
 /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
 
    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
     text-decoration: none;
    text-align: left;
    color: black;
 
     -webkit-transition: color .2s ease-in-out;
     -moz-transition: color .2s ease-in-out;
     -o-transition: color .2s ease-in-out;
     -ms-transition: color .2s ease-in-out;
     transition: color .2s ease-in-out;
 }
 
 ul#nav li a:active { background-color: transparent !important; }
 ul#nav li.current a { color: #F06000; }

 .intro{
    margin-top: 189px;
 }
.skills{
  background-color: var(--div-background-color);
  color: var(--text-color);
}
 section{
   background-color: var(--background-color);
   
   display: flex;
   flex-direction: column;
   align-items: center;
 }
section h3 {
 margin: 0;
 padding-left: 10px;
 color: var(--text-color);
}
 .elementdesc{
   max-width: 800px;
   background-color: var(--div-background-color);
   margin-top: 25px;
 }
 .elementdesc p{
  padding:5px;
  color: var(--text-color);
 }
 .elementdesc::before{
  display: block;
  content: "About Me  👋🏽";
  font-size: 25px;
  margin: 10px;
  text-align: center;
  color: var(--text-color);
 }

 h5{
   margin: 0;
 }
.skillbar ul{
   margin: 0;
}

 section#contact{
 background-color: #252525;
 color: aliceblue;
 
 }

 #contact h1{
   margin: 0;
 }

 /* .intro-contact{
   margin-top: 25px;
   align-items: center;
 }

 .intro-contact h3{

   margin-left: 40%;
 } */

 #contact a{
   text-decoration: none;
 }
 #contact .wrapper{
   width: 80%;
   display: flex;
   padding: 0 2.5rem 0 2.5rem;
   margin: 1.5rem 0 1.5rem 0;
  justify-content: space-between;
 }

 .icons{
  
   text-align: center;
   color: whitesmoke;
 }
 .icons a{
   text-align: center;
   padding: 0 2px 0 2px;
 }

 .para p{
   margin: 0;
 }
 #nav i{
  color: black;
 }
 
#nightmode{
  transition: all 0.5s ease;
}
 #nightmode:hover{
  cursor: pointer;
 }
/* Experience Container for experience*/
.exp-container{
 width: 800px;
 background-color: var(--div-background-color);
}

.exp-container::before{
  display: block;
  content: "Experience";
  font-size: 30px;
 margin-top: 25px;
  color: var(--text-color);
  text-align: center;
 }

.exp-container p{
  margin:0;
  color:var(--text-color);
  font-size: 14px;
}
.exp-container .exp-desc p{
  font-size: 16px;
}
.exp-container h1{
  margin:0;
  color:var(--text-color);
  font-size: 20px;
}
.exp-name{
  display: flex;
  justify-content: space-between;
}

/*End of the  Experience Container for experience*/
 .reveal{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1.5s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 661px) {

  .exp-container{
    width:100%;
  }
  #contact .wrapper{
    width: 100%;
    
  }

  #about img{
   float: none;
   margin-left:25%;
  }

}
