body{
    font-family:'opensans-regular', sans-serif;
    font-size: 20px;
    line-height: 30px;
}
header {
    position: relative;
    height: 750px;
    min-height: 500px;
    width: 100%;
    background: #161415 url("./images/him.jpg") no-repeat top center;
    background-size: cover;
     -webkit-background-size: cover;
    text-align: center;
    overflow: hidden;
 }

 

ul#nav {
    min-height: 48px;
    width: auto;
 
    /* center align the menu */
    text-align: center;
 }
 ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
 }
 
 /* Links */
 ul#nav li a {
 
 /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
 
    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
     text-decoration: none;
    text-align: left;
    color: #fff;
 
     -webkit-transition: color .2s ease-in-out;
     -moz-transition: color .2s ease-in-out;
     -o-transition: color .2s ease-in-out;
     -ms-transition: color .2s ease-in-out;
     transition: color .2s ease-in-out;
 }
 
 ul#nav li a:active { background-color: transparent !important; }
 ul#nav li.current a { color: #F06000; }

 .intro{
    margin-top: 189px;
 }